#navbarLogin {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}


.turnContainer {
    width: auto;
    margin: auto;
    background-color: gray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: gray;
    box-shadow: 2px 2px black;
    margin-bottom: 20.7em;
}

.player1Container {
    width: auto;
    margin: auto;
    background-color: darkgrey;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: darkgrey;
    box-shadow: 2px 2px black;
    margin-top: 1em;
    margin-bottom: 20.7em;
}

.player2Container {
    width: auto;
    margin: auto;
    background-color: darkgrey;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: darkgrey;
    box-shadow: 2px 2px black;
}

.evaluationContainer {
    width: auto;
    margin: auto;
    background-color: lightgray;
    height: 30em;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: 2px 2px black;
    margin-top: 1em;
}