body{
    background-color: floralwhite;
}

#navbarLogin {
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
}

.playerButton {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    box-shadow: 2px 2px grey;
    font-family: 'Trebuchet MS', sans-serif;
    width: 15em;
    color: black;
    font-size: 30px;
    margin-top: 3em;
    margin-bottom: 2em;
}

.AIButton {
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    box-shadow: 2px 2px grey;
    font-family: 'Trebuchet MS', sans-serif;
    width: 15em;
    color: white;
    font-size: 30px;
}
.photoContainer {
    background-color: floralwhite;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: floralwhite;
    box-shadow: 5px 5px lightgrey;
    height: 50em;
    margin-bottom: 2em;
}
footer {
    position: fixed;
    width: 100%;
    background-color: blanchedalmond;
}

h1 {
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
}
h5 {
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
}

h6 {
    padding-top: 5px;
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
}


