body{
    background-color: floralwhite;
}

#navbarLogin {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.playerButton {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    box-shadow: 2px 2px grey;
    font-family: 'Trebuchet MS', sans-serif;
    width: 15em;
    color: black;
    font-size: 30px;
    margin-top: 3em;
    margin-bottom: 2em;
}

.AIButton {
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    box-shadow: 2px 2px grey;
    font-family: 'Trebuchet MS', sans-serif;
    width: 15em;
    color: white;
    font-size: 30px;
}
.photoContainer {
    background-color: blanchedalmond;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    border-color: blanchedalmond;
    box-shadow: 5px 5px grey;
    height: 50em;
    margin-bottom: 1em;
}
footer{
    height:3em;
}



